/* Viz framework styles */
body {
    margin: 0;
    overflow: hidden;
    color: orange;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.title {
    position: absolute;
    top: 0;
    width: 50%;
    text-align: left;
}
.title .titleText {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.modal {
    color: black;
}
.panel {
    position: absolute;
}
.panel p {
    margin-bottom: 0;
}
#rotate {
    bottom: 15%;
    right: 1%;
    width: 22.5%;
    color: rgb(255, 255, 255);
}
#rotate button {
    width: 45%;
    padding: 0.2rem 0.4rem;
}
#rotate img {
    width: 100%;
}
#playbackControls {
    top: 7.5%;
    left: 1%;
    width: 100%;
}
#playbackControls img {
    width: 15%;
}
#runningInfo {
    top: 33.5%;
    left: 1%;
    width: 100%;
}
.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 100%;
}
#info {
    bottom: 1%;
    right: 1%;
    width: 10%;
}
#info img {
    width: 100%;
}

/* Small screens */
@media (min-width: 576px) {
    #playbackControls {
        width: 45%;
    }
    #runningInfo {
        top: 30%;
    }
    #rotate {
        width: 15%;
    }
}

@media (min-width: 576px) and (orientation: landscape) {
   #playbackControls {
       top: 12.5%;
       left: 1%;
       width: 50%;
   }
   #runningInfo {
       top: 1%;
       left: 65%;
   }
   #info {
       width: 5%;
   }
   #rotate {
       width: 10%;
   }
}

@media (min-width: 768px) {
    #playbackControls {
        top: 7.5%;
        left: 1%;
        width: 60%;
    }
    #runningInfo {
        top: 27.5%;
        left: -4%;
    }
    #info {
        width: 7%;
    }
    #rotate {
        top: 5%;
        width: 15%;
    }
    .title .titleText {
        font-size: 2.25rem;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    #playbackControls {
        top: 15%;
        left: 1%;
        width: 50%;
    }
    #runningInfo {
        top: 62.5%;
        left: -4%;
    }
    #rotate {
        top: 5%;
        width: 10%;
    }
    #info {
        width: 7%;
    }
    .title .titleText {
        font-size: 2.25rem;
    }
}

@media (min-width: 992px) {
    #playbackControls {
        top: 1%;
        left: 75%;
        width: 40%;
    }
    #runningInfo {
        top: 27.5%;
        left: 68%;
    }
    #info {
        width: 5%;
    }
    #rotate {
        top: 60%;
        width: 10%;
    }
}

@media (min-width: 1200px) {
    #playbackControls {
        top: 1%;
        left: 80%;
        width: 25%;
    }
    #rotate {
        width: 9%;
    }
    #info {
        width: 3%;
    }
}

@media (min-width: 1600px) {
    #rotate {
        width: 6%;
    }
    #playbackControls {
        left: 82.5%;
    }
    #runningInfo {
        top: 22.5%;
        left: 72.5%;
    }
}