/* Viz framework styles */
body {
    margin: 0;
    overflow: hidden;
    color: orange;
}
.title {
    position: absolute;
    top: 0;
    width: 50%;
    text-align: left;
}
.title .titleText {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
.modal {
    color: black;
}
.panel {
    position: absolute;
}
.panel p {
    margin-bottom: 0;
}
#rotate {
    bottom: 15%;
    right: 1%;
    width: 22.5%;
    color: rgb(255, 255, 255);
}
#rotate button {
    width: 45%;
    padding: 0.2rem 0.4rem;
}
#rotate img {
    width: 100%;
}
#playbackControls {
    top: 7.5%;
    left: 1%;
    width: 100%;
}
#playbackControls img {
    width: 15%;
}
#runningInfo {
    top: 33.5%;
    left: 1%;
    width: 100%;
}
.copyright {
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 100%;
}
#info {
    bottom: 1%;
    right: 1%;
    width: 10%;
}
#info img {
    width: 100%;
}

/* Small screens */
@media (min-width: 576px) and (orientation: landscape) {
   #playbackControls {
       top: 12.5%;
       left: 1%;
       width: 50%;
   }
   #runningInfo {
       top: 1%;
       left: 65%;
   }
   #info {
       width: 5%;
   }
}

@media (min-width: 768px) {
    #playbackControls {
        top: 1%;
        left: 40%;
        width: 50%;
    }
    #runningInfo {
        top: 1%;
        left: 65%;
    }
    #info {
        width: 7%;
    }
}

